<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="name"
          class="java.lang.String">
        <constructor-arg
            value="Is this working?"/>
    </bean>

    <bean id="user" class="ie.pt.User">
        <constructor-arg value="1"/>
        <constructor-arg value="Alice"/>
        <constructor-arg value="alice@gmail.com"/>
        <constructor-arg value="true"/>
    </bean>

    <bean class="ie.pt.UserService"/>

</beans>