<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="main-header(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

<div th:fragment="test-fragment">This is a fragment</div>

<div th:fragment="main-scripts">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</div>

<div th:fragment="navigationold">
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact Us</a>
</div>

<nav th:fragment="navigation(activePage)"
     class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand"
           href="/">Restful Web Service Investigation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a
                            class="nav-link "
                            th:classappend="${activePage == 'home' ? 'active' :''}"
                            aria-current="page"
                            href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${activePage == 'about' ? 'active' :''}"
                            href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${activePage == 'contact' ? 'active' :''}"
                       href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${activePage == 'users' ? 'active' :''}"
                       href="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${activePage == 'ajaxinvestigation' ? 'active' :''}"
                       href="/ajaxinvestigation">Ajax Investigation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${activePage == 'javascriptinvestigation' ? 'active' :''}"
                       href="/javascriptinvestigation">JS Investigation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



</body>
</html>