<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: main-header('JS Investigation')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/layout :: navigation('javascriptinvestigation')}"/>
<h1>JS Investigation</h1>

<div id="content"></div>

<table id="tblUsers" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<button
        class="btn btn-success"
        onclick="onFetchUsers()">Fetch Users
</button>
<button class="btn btn-success">Add User</button>
<div th:replace="~{fragments/layout :: main-scripts}"/>

<!--
<script src="js/investigation.js"></script>
-->
<!--
<script src="js/arrowfunctioninvestigation.js"></script>
-->

<script>
    let tbody = document.querySelector("#tblUsers tbody");
    let url = "/api/users";
    let allUsers = [];

    // read the users from the api
    function addUserToTable(user) {
        let html = `<tr id="tr_${user.id}">
                                    <td>${user.id}</td>
                                    <td>${user.name}</td>
                                    <td>${user.email}</td>
                                    <td>${user.active ? "Active" : "Inactive"}</td>
                                    <td><button
                                        class="btn btn-danger btn-sm"
                                        onclick="deleteUser(${user.id})"
                                        >Delete</i></button>
                                        <button
                                        class="btn btn-primary btn-sm"
                                        onclick="editUser(${user.id})"
                                        >Edit</button>
                                        <button
                                        class="btn btn-success btn-sm"
                                        onclick="saveUser(${user.id})"
                                        >Save</button>
                                        <button
                                        class="btn btn-secondary btn-sm"
                                        onclick="cancelSaveUser(${user.id})"
                                        >Cancel</button>
                                        </td>
                                   </tr>`;
        tbody.innerHTML += html;
    }
    function saveUser(id) {

        let txtName = document.getElementById(`txtName_${id}`);

        let updatedUser = {
            id: id,
            name: txtName.value,
            email: "",
            active: true
        }
        fetch(`${url}/${id}`, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(updatedUser)
        })
            .then(response=>{
                if (response.ok) {
                    alert(`saved ${id} ${txtName.value}`);
                }
            });
    }
    function cancelSaveUser(id) {
        alert("cancel");
    }
    function deleteUser(id) {
        if (confirm(`Are you sure you want to delete user ${id}`)) {
            fetch(`${url}/${id}`, {
                method: "DELETE"
            })
                .then(response => {
                    if (response.ok) {
                        tr = document.getElementById(`tr_${id}`);
                        tr.remove();
                    }
                });
        }
    }
    function addUsersToTable(users) {

        // clear the table before adding
        tbody.innerHTML = "";
        users.forEach(user => addUserToTable(user));
    }

    function editUser(id) {
        let tdName = document.querySelector(`#tr_${id} td:nth-child(2)`);
        let name = tdName.innerHTML;
        tdName.innerHTML=`<input value='${name}' id="txtName_${id}">`;
    }
    function onFetchUsers() {
        //alert("fetch users");
        fetch(url)
            .then(response => {
                console.log(response);
                return response.json();
            })
            .then(users => {
                allUsers = users;
                console.log(users);
                addUsersToTable(users);
            });
    }
</script>



</body>
</html>